/* font */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Poppins:ital@1&display=swap');

/*---------
 common styles
---------- */
body {
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 3vw;

}

/* great-player */
.great-player {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid blanchedalmond;
    background-color: black;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 100px;


}

.plyer {
    color: white;
    padding: 0px 100px;

}



.great-player div img {
    width: 100%;
}



.link-button {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-weight: 700px;
    border-radius: 5px;
    font-size: 1em;


}

.link-button:hover {
    background-color: orange;
    color: black;
    transition: all 0.5s ease-in-out;
}

.link-button:hover i {
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
}

/* upcoming match */

.match {
    border-radius: 5px;
    border: 2px solid black;
    height: 300px;
    min-width: 250px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-right: 20px;




}

.match {
    padding: 0px 15px;
}

.match button {
    padding: 10px;
    border-radius: 10px;
}

.upcoming {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 2em;
    width: 30px;
    height: 10px;

}

.upcome {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 2em;
    width: 30px;
    height: 10px;
}

#bllogs {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 30px;
    height: 10px;

}

button.red-button {
    background-color: red;
}



/* blog market */

#blog-market {
    display: flex;
}


/*----------------
   transfer market
------------------ */
#transfer-market {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

button.view-all {
    height: 50px;
    width: 150px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    display: none;
}


/* transfer */

.transfer {
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 20px;

}

.transfer-img img {
    width: 100%;
}

.news {
    text-decoration: none;
    text-align: center;
    border: 2px solid plum;
}

/* first transfer news font */

.font {
    margin-right: 20px;

}

.transfer-news {}

.fa-clock {
    margin-right: 8px;

}

.fa-comment-dots {
    margin-right: 8px;
}




/* footer */
.footer-blog {
    background-color: rgb(39, 36, 36);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-head {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    text-align: center;
    margin-top: 50px;
    width: 90%;

}

#footer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.social-icon {
    margin: 25px 0px;
}

.social-icon a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* finish footer  */




/*----------------
 Media Queries
-------------------- */


/*-----------
 Mobile Devices
------------- */
@media only screen and (max-width:688px) {

    .great-player {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header {
        font-size: 30px;
    }
}

@media screen and (max-width:688px) {
    .upper-section {
        grid-template-columns: repeat(1, 1fr);
    }

    #blog-market {
        flex-direction: column;
    }

    #footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .match {
        background-color: white;
        border: none;
    }
}

/* for tab */
@media screen and (min-width:689px) and (max-width:992px) {
    .upper-section {
        grid-template-columns: repeat(2, 1fr);
    }

    #blog-market {
        flex-direction: column;
    }

    .match {
        grid-template-columns: repeat(3, 1fr);
        max-height: 100px;
        background-color: white;
        border: none;
        grid-column-gap: 10px;
    }

    button.view-all {
        display: block;
    }
}